body {
    background: steelblue;
    text-align: center;
}

.content {
    width: 800px;
    height: 1000px;
    text-align: left;
    margin: 0px auto;
    padding: 15px;
    border: 1px solid black;
    background: white;
}

.title {
    width: 100%;
    text-align: center;
    margin: 25px 25px 0px 0px;
    font: 22pt times;
}
.subtitle {
    width: 100%;
    text-align: center;
    margin: 0px 25px 50px 0px;
    font: 14pt times;
}

.scatterplot {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

.controls {
    width: 450px;
}