body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: steelblue;
    text-align: center;
}

.content {
    width: 800px;
    height: 2000px;
    text-align: left;
    margin: 0px auto;
    padding: 15px;
    border: 1px solid black;
    background: white;
}

.title {
    width: 100%;
    text-align: center;
    margin: 25px 25px 0px 0px;
    font: 22pt times;
}
.subtitle {
    width: 100%;
    text-align: center;
    margin: 0px 25px 50px 0px;
    font: 14pt times;
}

.scatterplot {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

.controls {
    width: 450px;
    background-color: #E7E7E7;
    padding:20px;
}

.controls label {
    font-weight:bold;
}

.checkbox {
    margin-left:15px;
}


#map-canvas { 
	width:600px;
	height:840px; 
	margin-left:30px;
}

.invisible {
	display:none;
}

#details {
	margin-top:20px;
	float:left;
	margin-left:32px;
	font-size:18px;
	text-align:left;
}

.label {
	color:black;
}

.value {
	color:blue;
}	

#houses {
	margin-bottom:20px;
}

#bathroom,#bedrooms {
	width:100px;
	float:left;
}
